@using System.Globalization
@using DeependCheque.Models
@model List<Cheque>

<div class="row">
    <div class="col-lg-12">
        <h2> Cheques </h2>
        <hr />

        <div class="table-responsive">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <td>
                            Name
                        </td>
                        <td>
                            Amount
                        </td>
                        <td>
                            Date
                        </td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Cheque cheque in Model)
                    {
                        <tr>
                            <td>
                                @Html.ActionLink(cheque.Name, "GetCheckDetails", "Cheque", new { id = cheque.Id }, null)
                            </td>
                            <td>
                                @cheque.Amount.ToString("C")
                            </td>
                            <td>
                                @cheque.Date.ToShortDateString()
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>